.pages label{
    padding-right: .5em;
    font-weight: bold;
}

.pages div{
    padding-bottom: .5em;
}
body{
    box-sizing:content-box;
    background-color: #333;
    color: white;
    height: 80rem;
}

#home{
    padding-bottom: 5em;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    text-align: center;
}

#paddingRight{
    padding-right: 4rem;
}

#paddingRight1{
    padding-right: 4rem;
}