.pages label{
    padding-right: .5em;
    font-weight: bold;
}

.pages div{
    padding-bottom: .5em;
}
body{
    box-sizing:content-box;
}

#home{
    padding-bottom: 5em;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

#paddingRight{
    padding-right: 4rem;
}